{{ if .is_windows }}
# Install core tools using winget

Write-Host "[chezmoi] [windows_install.ps1] 🚀 Installing mise..."
winget install -s winget -e --id jdx.mise --accept-package-agreements --accept-source-agreements

Write-Host "[chezmoi] [windows_install.ps1] 🚀 Installing ueli..."
winget install -s winget -e --id OliverSchwendener.ueli --accept-package-agreements --accept-source-agreements

Write-Host "[chezmoi] [windows_install.ps1] 🚀 Installing WezTerm..."
winget install -s winget -e --id wez.wezterm --accept-package-agreements --accept-source-agreements

Write-Host "[chezmoi] [windows_install.ps1] 🚀 Installing Powershell7..."
winget install -s winget -e --id Microsoft.Powershell --accept-package-agreements --accept-source-agreements

Write-Host "[chezmoi] [windows_install.ps1] 🚀 Installing 1Password CLI..."
winget install -s winget -e --id AgileBits.1Password.CLI --accept-package-agreements --accept-source-agreements

Write-Host "[chezmoi] [windows_install.ps1] 🚀 Installing VSCode..."
winget install -s winget -e --id Microsoft.VisualStudioCode --accept-package-agreements --accept-source-agreements

Write-Host "[chezmoi] [windows_install.ps1] 🚀 Installing Git for is_Windows..."
winget install -s winget -e --id Git.Git --accept-package-agreements --accept-source-agreements


{{      if eq .profile "work" }}
Write-Host "[chezmoi] [windows_install.ps1] 💼 Work profile detected."
Write-Host "[chezmoi] [windows_install.ps1] 🚀 Installing Visual Studio..."
winget install -e --id Microsoft.VisualStudio.2022.Professional --accept-package-agreements --accept-source-agreements
{{      end }}

Write-Host "[chezmoi] [windows_install.ps1] 🎉 Windows tool installation completed."
{{ end }}
