{{ if .is_windows }}
Write-Host "[chezmoi] [setup_mise.ps1] 🚀 Setting up mise-en-place..."
mise activate pwsh | Out-String | Invoke-Expression

Write-Host "[chezmoi] [setup_mise.ps1] 🩺 Checking mise installation successfully."
mise doctor
mise -v

Write-Host "[chezmoi] [setup_mise.ps1] 🎉 The mise settings have been completed"
{{ end }}
