{{- $profile := promptStringOnce . "profile" "What profile is this? (work.personal)" "personal" -}}
{{- $git_name := promptStringOnce . "git_name" "Git username" -}}
{{- $git_email := promptStringOnce . "git_email" "Git email" -}}

{{- $osId := .chezmoi.os -}}
{{- $is_windows :=  eq $osId "windows" -}}
{{- $is_linux :=  eq $osId "linux" -}}
{{- $is_wsl :=  false -}}
{{- if $is_linux -}}
{{-     if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-         $is_wsl = true }}
{{-     end -}}
{{- end -}}

[data]
    profile = {{ $profile | quote }}
    git_name = {{ $git_name | quote }}
    git_email = {{ $git_email | quote }}
    is_windows = {{ $is_windows }}
    is_linux = {{ $is_linux }}
    is_wsl = {{ $is_wsl }}
