{
    "appearance.searchBarAppearance": "auto",
    "extension[CurrencyConversion].currencies": [
        "usd",
        "jpy"
    ],
    "extension[CurrencyConversion].defaultTargetCurrency": "jpy",
    "extension[DeeplTranslator].apiKey": "{{ onepasswordRead "op://Personal/DeepL API/credential" }}",
    "extension[DeeplTranslator].defaultTargetLanguage": "EN-US",
    "extension[TerminalLauncher].terminalIds": [
        "Powershell Core"
    ],
    "extensions.enabledExtensionIds": [
        "TerminalLauncher",
        "DeeplTranslator",
        "WindowsControlPanel",
        "WebSearch",
        "SystemSettings",
        "SystemCommands",
        "SimpleFileSearch",
        "CurrencyConversion",
        "ColorConverter",
        "Calculator",
        "ApplicationSearch",
        "UeliCommand"
    ],
    "general.hotkey": "Ctrl+Space",
    "window.acrylicOpacity": 0.75,
    "window.alwaysCenter": true,
    "window.alwaysOnTop": true,
    "window.backgroundMaterial": "Acrylic",
    "window.showOnStartup": false
}
