[tools]
# ===============
# Rust Tools
# ===============
helix = "25.07.1"
eza = "0.23.4"
bat = "0.26.1"
fzf = "0.70.0"
starship = "1.24.2"

{{ if not .is_windows }}
rust = "1.94.0"
fd = "10.3.0"
ripgrep = "15.1.0"
delta = "0.18.2"
atuin = "18.12.1"
zellij = "0.43.1"
"aqua:printfn/fend" = "1.5.8"
{{ end }}

# ===============
# Languages
# ===============

# TypeScript
"npm:prettier" = "latest"
"npm:typescript-language-server" = "latest"

# Python
"pipx:ruff" = "latest"
"pipx:pyright" = "latest"

# ShellScript
"shfmt" = "latest"
"npm:bash-language-server" = "latest"

# C#
# "csharp-ls" = "latest"

# ===============
# Task Runner
# ===============
[tasks.playground]
description = "Experimental container supporting 1Password Signing"
run = """
nerdctl run -it --rm \
  -v "$HOME:$HOME" \
  -v "$SSH_AUTH_SOCK:$SSH_AUTH_SOCK" \
  -e "SSH_AUTH_SOCK=$SSH_AUTH_SOCK" \
  -e "HOME=$HOME" \
  -w "$HOME" \
  --user "$(id -u):$(id -g)" \
  ubuntu:24.04 bash
"""
