{{ if .is_windows }}
{
    "$help": "https://aka.ms/terminal-documentation",
    "$schema": "https://aka.ms/terminal-profiles-schema",
    "actions":
    [
        {
            "command":
            {
                "action": "splitPane",
                "split": "auto",
                "splitMode": "duplicate"
            },
            "id": "User.splitPane.A6751878"
        },
        {
            "command": "find",
            "id": "User.find"
        },
        {
            "command": "paste",
            "id": "User.paste"
        },
        {
            "command":
            {
                "action": "copy",
                "singleLine": false
            },
            "id": "User.copy.644BA8F2"
        }
    ],
    "copyFormatting": "none",
    "copyOnSelect": false,
    "defaultProfile": "{574e775e-4f2a-5b96-ac1e-a2962a402336}",
    "keybindings":
    [
        {
            "id": "User.paste",
            "keys": "ctrl+v"
        },
        {
            "id": "User.find",
            "keys": "ctrl+shift+f"
        },
        {
            "id": "User.splitPane.A6751878",
            "keys": "alt+shift+d"
        },
        {
            "id": "User.copy.644BA8F2",
            "keys": "ctrl+c"
        }
    ],
    "newTabMenu":
    [
        {
            "type": "remainingProfiles"
        }
    ],
    "profiles":
    {
        "defaults":
        {
            "antialiasingMode": "cleartype",
            "bellStyle": "window",
            "colorScheme": "Catppuccin Mocha",
            "font":
            {
                "face": "Moralerspace Neon HW",
                "size": 13
            },
            "intenseTextStyle": "bold",
            "opacity": 85,
            "useAcrylic": false
        },
        "list":
        [
            {
                "guid": "{574e775e-4f2a-5b96-ac1e-a2962a402336}",
                "hidden": false,
                "name": "PowerShell",
                "source": "Windows.Terminal.PowershellCore"
            },
            {
                "commandline": "\"C:\\Program Files\\PowerShell\\7\\pwsh.exe\"",
                "elevate": true,
                "guid": "{5dbc9a60-14c8-4dd7-9a2c-17a72c17ce64}",
                "hidden": false,
                "icon": "ms-appx:///ProfileIcons/pwsh.png",
                "name": "PowerShell (Admin)",
                "startingDirectory": "%USERPROFILE%"
            },
            {
                "guid": "{0caa0dad-35be-5f56-a8ff-afceeeaa6101}",
                "hidden": false,
                "name": "Command Prompt"
            },
            {
                "altGrAliasing": true,
                "closeOnExit": "automatic",
                "commandline": "%SystemRoot%\\System32\\cmd.exe",
                "cursorShape": "bar",
                "elevate": true,
                "guid": "{3d3153b3-4e01-467a-8e82-1ded26c2ef56}",
                "hidden": false,
                "historySize": 9001,
                "icon": "ms-appx:///ProfileIcons/{0caa0dad-35be-5f56-a8ff-afceeeaa6101}.png",
                "name": "Command Prompt (Admin)",
                "padding": "8, 8, 8, 8",
                "snapOnInput": true,
                "startingDirectory": "%USERPROFILE%"
            },
            {
                "guid": "{b453ae62-4e3d-5e58-b989-0a998ec441b8}",
                "hidden": true,
                "name": "Azure Cloud Shell",
                "source": "Windows.Terminal.Azure"
            },
            {
                "commandline": "C:\\WINDOWS\\system32\\wsl.exe -d Ubuntu-22.04 -u afsts",
                "guid": "{a0e2cf4a-84d9-4d51-85d0-665044a4464b}",
                "hidden": false,
                "icon": "ms-appx:///ProfileIcons/{9acb9455-ca41-5af7-950f-6bca1bc9722f}.png",
                "name": "Ubuntu-22.04",
                "startingDirectory": "~"
            },
            {
                "guid": "{09ededf5-99f7-578b-a313-80ba26919327}",
                "hidden": false,
                "name": "Ubuntu-22.04-customized",
                "source": "Windows.Terminal.Wsl"
            },
            {
                "guid": "{47302f9c-1ac4-566c-aa3e-8cf29889d6ab}",
                "hidden": false,
                "name": "Nushell",
                "source": "nu"
            },
            {
                "commandline": "wt -w -1 nt C:\\WINDOWS\\system32\\wsl.exe -d Ubuntu-22.04-customized warp-terminal 1> /dev/null",
                "guid": "{b44d42ac-e683-46b8-9cfd-9be3cf149b91}",
                "hidden": false,
                "icon": "E:\\_Picture\\Icon\\app\\warp-terminal\\warp_icon.png",
                "name": "Warp (wayland)",
                "startingDirectory": "~"
            },
            {
                "guid": "{1a6c79dd-e175-54ba-9035-c2190852e1c5}",
                "hidden": true,
                "name": "Developer Command Prompt for VS 2022",
                "source": "Windows.Terminal.VisualStudio"
            },
            {
                "guid": "{f2e1a982-f781-58c3-a8cc-fe78be9cf4cd}",
                "hidden": true,
                "name": "Developer PowerShell for VS 2022",
                "source": "Windows.Terminal.VisualStudio"
            },
            {
                "guid": "{4ff56d04-d9cf-57ea-bae2-ad396374e7e3}",
                "hidden": true,
                "name": "Ubuntu 22.04.5 LTS",
                "source": "CanonicalGroupLimited.Ubuntu22.04LTS_79rhkp1fndgsc"
            },
            {
                "guid": "{3c7c7983-52b6-5eb1-8515-fe714a753d6b}",
                "hidden": false,
                "name": "Developer Command Prompt for VS 18",
                "source": "Windows.Terminal.VisualStudio"
            },
            {
                "guid": "{3a117e86-9f8d-5530-af63-479831d68b8b}",
                "hidden": false,
                "name": "Developer PowerShell for VS 18",
                "source": "Windows.Terminal.VisualStudio"
            }
        ]
    },
    "schemes":
    [
        {
            "background": "#1E1E2E",
            "black": "#45475A",
            "blue": "#89B4FA",
            "brightBlack": "#585B70",
            "brightBlue": "#89B4FA",
            "brightCyan": "#94E2D5",
            "brightGreen": "#A6E3A1",
            "brightPurple": "#F5C2E7",
            "brightRed": "#F38BA8",
            "brightWhite": "#A6ADC8",
            "brightYellow": "#F9E2AF",
            "cursorColor": "#F5E0DC",
            "cyan": "#94E2D5",
            "foreground": "#CDD6F4",
            "green": "#A6E3A1",
            "name": "Catppuccin Mocha",
            "purple": "#F5C2E7",
            "red": "#F38BA8",
            "selectionBackground": "#585B70",
            "white": "#BAC2DE",
            "yellow": "#F9E2AF"
        }
    ],
    "showTabsInTitlebar": true,
    "tabWidthMode": "equal",
    "themes":
    [
        {
            "name": "Catppuccin Mocha",
            "tab":
            {
                "background": "#1E1E2EFF",
                "iconStyle": "default",
                "showCloseButton": "always",
                "unfocusedBackground": null
            },
            "tabRow":
            {
                "background": "#181825FF",
                "unfocusedBackground": "#11111BFF"
            },
            "window":
            {
                "applicationTheme": "dark",
                "experimental.rainbowFrame": false,
                "frame": null,
                "unfocusedFrame": null,
                "useMica": false
            }
        }
    ]
}
{{ end }}
