#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[signing]
{{ if and .is_pure_linux (not .is_desktop) }}
behavior = "drop"
{{ else }}
behavior = "own"
{{ end }}
backend = "ssh"
{{ if not (and .is_pure_linux (not .is_desktop)) -}}
{{ if eq .profile "work" -}}
key = "{{ onepasswordRead "op://Employee/id_ed25519/public key" }}"
{{ else if eq .profile "personal" -}}
key = "{{ onepasswordRead "op://Personal/GitHub - Signing/public key" }}"
{{ end -}}
{{ end }}

[signing.backends.ssh]
{{ if .is_windows }}
    program = "/mnt/c/Users/{{ .chezmoi.username }}/AppData/Local/Microsoft/WindowsApps/op-ssh.exe"
{{  else if .is_wsl }}
    program = "/mnt/c/Users/{{ .chezmoi.username }}/AppData/Local/Microsoft/WindowsApps/op-ssh-wsl.exe"
{{  else if .is_desktop }}
    program = "/opt/1Password/op-ssh-sign"
{{  else }}
{{ end }}

[user]
name = {{ .git_name | quote }}
email = {{ .git_email | quote }}

[ui]
pager = "delta"
editor = "hx"
conflicts = "materialize"

[ui.diff]
format = "git"

[aliases]
init = ["git", "init", "--colocate"]
l = ["log", "-n"]
push = ["git", "push", "-b"]
dpush = ["git", "push", "--dry-run", "-b"]
